body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif !important;
    background-color: #020408;
    color: #ffffff;
    overflow-x: hidden; 
}

*{
    font-family: Inter, sans-serif !important;
}